$text-light: #282c34;
$text-dark: #f8f8f8;

$background-light: #f8f8f8;
$background-dark: #282c35;

$icon-light: #282c34;
$icon-dark: #f8f8f8;

$highlight-light: #a17891;
$highlight-dark: #c492b1;

html {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

button::-moz-focus-inner {
  border: 0;
}
