html {
  --color-primary: #6c567b;
  --color-secondary: #c06c84;
  --color-tertiary: #f67280;
  --color-highlight: #f8b195;
  --color-text: white;
}

body {
  margin: 0;
  /* font-family: 'Source Sans Pro', sans-serif; */
  font-family: 'Quicksand', sans-serif;
  color: var(--color-text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body, #root {
  height: 100%;
}

/* Prevent the text contents of draggable elements from being selectable. */
/* [draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element;
} */