.reactMarkDown {
  /* // some root styles here */
}

.reactMarkDown p {
  padding: 8px 0px;
}

.reactMarkDown img {
  margin: 0 auto;
  padding: 16px 0px;
}

.reactMarkDown h2 {
  font-size: 24px;
  margin: 8px 0px 16px 0px;
}

.reactMarkDown pre {
  margin: 8px 0px 16px 0px;
}

.reactMarkDown code {
  background: linear-gradient(
    to top,
    transparent 0%,
    transparent 50%,
    rgb(252 211 77 / 1) 50%,
    rgb(252 211 77 / 1) 100%
  );
}

.reactMarkDown ul {
  margin-top: 1em;
  margin-bottom: 1em;
  list-style: disc outside none;
}

.reactMarkDown ul li {
  margin-left: 2em;
  display: list-item;
  text-align: -webkit-match-parent;
}

.reactMarkDown a {
  color: #c86358;
  text-decoration: underline;
}

.reactMarkDown a:hover {
  opacity: 0.75;
}
